#header {
    border: black 2px solid;
    border-radius: 10px 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

#Username {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

#Password {
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}

#button {
    margin-top: 20px;
    margin-left: 100px;
    border: black 2px solid;
    border-radius: 5px 5px;
    padding: 5px;
    background-color: gray;
}
